<div class="container">

                  <div class="row">

                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                            <div style="height: 75px;"></div>
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>

                     <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Sanlam IT Bursary 2024</h5>
                          <p class="card-text">Sanlam has invited applications for the
                            academic year 2024 for comprehensive bursaries for students who wish
                            to pursue higher studies in the field of information technology (IT) after
                            leaving school.</p>
                          <h6>Closing Date: <b>18 December 2024</b></h6>
                          <a href="mailto:sanlam@StudentAidHub.ac.za?subject=Application%20for%20Sanlam%20Bursary%202024&body=Hi%2C%20hope%20your%20well.%0D%0A%0D%0AKindly%20receive%20my%20documents%20attatched%20below%20as%20required%20...%20%3CAdd%20more%20text%20about%20your%20email%3E%0D%0A%0D%0ARegards.%0D%0AMr.%2FMs.%2FMrs" class=" btn btn-primary">Apply Now</a>
                        </div>
                      </div>
                    </div>
                    <!-- Add more columns as needed -->
                  </div>
                </div>